.home {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #ccc;
    max-width: 50%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}


.card--succsess .card__btn {}

.card--error .card__btn {}

.card__heading {
    padding-top: 30px;
}

.card__desc {}



.btn {
    /* display: inline-block; */
    border: none;
    outline: none;
    background-color: #ccc;
    color: #fff;
    padding: 12px 38px;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.btn a {
    text-decoration: none;
    color: #000;
}

.btn:hover {
    opacity: 0.8;
}

.btn + .btn {
    margin-left: 16px;
}

.btn--succsess {
    background-color: #71be34;
}

.btn--warn {
    background-color: #ffb702;
}

.btn--danger {
    background-color: #ff623d;
}

 /* disable button */
.btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
}