.blog img {
    width: 50rem;
    height: 30rem;
    display: block;
    margin: auto;
    margin-top: 1.5rem;
}

.blog p {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tour__handbook-chitiet2 h2,
.tour__handbook-chitiet1 h6 {
    margin-left: 0;
    margin-bottom: 1.5rem;
}

.header__banner {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tour__handbook-chitiet2 ul li {
    list-style: initial;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 1rem;
}