@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #000000;
    --secondary-color: #ff2850;
}

a {
    text-decoration: none;
}

.header .nav {
    width: 100%;
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.brand {
    height: 70px;
}

.brand a {
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-color);
}

.brand a span {
    color: var(--secondary-color);
}

.wrap-search {
    position: relative;
    height: 70px;
}

.wrap-search img,
svg {
    position: absolute;
    left: 2px;
    bottom: 26px;
    width: 16px;
    height: 16px;
}

.wrap-search input {
    min-width: 200px;
    height: 30px;
    top: 20px;
    border: none;
    border-bottom: 1px solid #636363;
    background-color: transparent;
    padding-left: 30px;
}

.wrap-search input:focus {
    outline: none;
}

.nav__right {
    display: flex;
    align-items: center;
    line-height: 70px;
}

.nav__right .cart,
.nav__right .like,
.nav__right .user {
    padding: 0 12px;
}

.nav__right img,
svg {
    width: 24px;
    height: 24px;
}

.nav__right img,
svg:hover {
    color: var(--secondary-color);
}

.nav__line {
    border-bottom: 1px solid #636363;
    width: 100%;
}

.menu {
    position: relative;
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.menu__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
}


.active a {
    color: var(--secondary-color);
}

.header .menu ul li {
    list-style: none;
    color: #000000;
    padding: 0 15px;
}

.header .menu ul li a {
    text-decoration: none;
    color: var(--primary-color);
    padding: .5px;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
}

.header .menu ul>li>a {
    position: relative;
}

.header .menu ul>li>a::before {
    content: "";
    height: 2px;
    width: 0px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header .menu ul>li:hover>a::before {
    display: block;
    width: 100%;
}

/* Banner */
.banner {
    display: flex;
}

.banner__slider {
    position: relative;
}

.item .title {
    max-width: ;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.item .title h3 {
    font-size: 60px;
    color: #fff;
}

.item .title h5 {
    font-size: 30px;
    color: #fff;
}

.item .title h5 {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
}

.item .btn {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    width: 200px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn a {
    color: #fff;
}

.btn:hover {
    background-color: var(--secondary-color);
}

/* main */
.item .box-img {
    r min-height: 500px;
}

.owl-dots {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translateX(-50%);
}

.owl-theme .owl-dots .owl-dot span {
    width: 18px !important;
    height: 18px !important;
}

/* product */
.section-product {
    margin-top: 24px;
    margin-bottom: 24px;
}

.item-product {
    height: 600px;
    margin-bottom: 24px;
    position: relative;
    display: block;
    margin-bottom: 120px;
}

.product-price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.actual-price {
    font-size: 1.6rem; 
    text-decoration: line-through;
}

.old-price {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 24px;
}

.item-product a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.produc-title {
    position: absolute;
    top: 86%;
    left: 10%;
    background-color: #fff;
    width: 600px;
    min-height: 110px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2px;
    z-index: 2;
    line-height: 8rem;
}

.produc-title h3 {
    font-size: 3rem;
}

.produc-title h5 {
    font-size: 2.2rem;
    color: #636363;
}

.section-product h2 {
    font-size: 3.6rem;
    text-align: start;
    margin: 16px 0;
    text-transform: uppercase;
}

/* new product */
.new-product,
.news {
    margin-bottom: 24px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
}

.new-product a img,
.news a img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.wrap-product {
    padding: 16px;
    line-height: 4rem;
}

/* news */
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title span a {
    font-size: 2rem;
    color: #000000;
}

.title-news a {
    color: #000000;
}

.time-news {
    color: #636363;
}

/* footer */
.footer {
    background-color: #000000;
    width: 100%;
    height: 100%;
}

.footer-title {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: start;
    margin: 36px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #636363;
}

.footer-name {
    color: #bdbdbd;
    font-size: 1.6rem;
}

.footer-name span {
    color: #ff2850;
}

.footer-social a i {
    color: #fff !important;
}

.footer-copyright {
    background-color: #151515;
    padding: 12px 0;
}

.footer-copyright p {
    color: #bdbdbd;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.4rem;
}

@media screen and (max-width: 800px) {
    .section-banner {
        display: none;
    }

    .footer-title,
    .footer-name {
        text-align: center;
        margin-bottom: 12px;
        border-bottom: none;
    }
}
