/* fonts  */

@font-face {
    font-family: "Roboto-regular";
    src: url(../font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-bold";
    src: url(../font/Roboto/Roboto-Bold.ttf);
}


/* colors  */

:root {
    --primary: #166987;
    --secondary: #DBA510;
    --text-color: #333;
    --ternary: #6C6C6C;
    --danger: #FE4545;
    --dark-color: #101010;
    --white-color: #FAFAFA;
    --gray-color: #F0F1F3;
    --background: #ececec;
    --light: #F0F0F0;
    --heaven: #FFFFFF;
    --black: #000;
    --footer: #2D333F;
}


/* Reset  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto-regular", sans-serif;
    line-height: 2.2rem;
    color: #222;
}

.container {
    width: 100%;
    /* padding: 0 15px; */
    margin: 0 auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}

.blog>p {
    margin-bottom: 2rem;
    text-align: center;
}

.header__banner-slogan {
    display: none;
}

.blogdulich__title {
    margin-top: 5rem !important;
}

.blogdulich__title a,
.blogdulich__title span {
    font-size: 1.6rem;
    color: var(--ternary);
}

.blogdulich__title span {
    padding: 0 .5rem;
}

.blog__tour h3 {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.header__banner {
    display: none;
}

.tour__handbook-chitiet1 img {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.tour__handbook-chitiet1 h4 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.tour__handbook-chitiet1 p {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.tour__handbook-chitiet1-dayandview span,
.tour__handbook-chitiet1-view i {
    font-size: 1.3rem;
}

.blog__tour-dicovery h3 {
    margin-top: 3rem;
}

.blog__tour-dicovery p {
    margin-bottom: 3rem;
}

.blog__tour-dicovery .lichtrinh a {
    font-size: 1.8rem;
    line-height: 2rem;
    color: var(--primary);
}

.blog__tour-dicovery .lichtrinh a:hover {
    color: var(--secondary);
}

.tour__handbook-chitiet1-dayandview i {
    margin-top: .3rem;
}

@media (min-width: 768px) {
    .header__banner {
        display: block;
    }
    .header__banner-slogan {
        display: block;
        text-align: center;
        margin-top: 13rem;
    }
    .header__banner-slogan h1 {
        font-size: 5rem;
        line-height: 6rem;
        color: var(--white-color);
        text-shadow: 0 .3rem .5rem #000;
    }
    .header__banner-slogan p {
        font-size: 3rem;
        line-height: 4rem;
        color: var(--white-color);
        text-shadow: 0 .3rem .5rem #000;
    }
    .blog__tour h3 {
        font-size: 3rem;
        line-height: 3.2rem;
        margin-bottom: 1.5rem;
    }
    .tour__handbook-chitiet1 p {
        font-size: 2rem;
        line-height: 3rem;
    }
    .blog__tour-dicovery h3 {
        margin-top: 1.5rem;
    }
    .blog__tour-dicovery .lichtrinh a {
        font-size: 2.2rem;
        line-height: 2.6rem;
    }
}