/* fonts  */

@font-face {
    font-family: "Roboto-regular";
    src: url(../font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-bold";
    src: url(../font/Roboto/Roboto-Bold.ttf);
}


/* colors  */

:root {
    --primary: #166987;
    --secondary: #DBA510;
    --white-color: #FAFAFA;
    --text-color: #333;
    --sub-title: #6C6C6C;
    --background: #f8f8f8;
    --footer: #2D333F;
    --danger: #FE4545;
    --dark-color: #101010;
    --table-background: #d4d4d4;
}


/* Reset  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto-regular", sans-serif;
    line-height: 2.2rem;
}

.container {
    width: 100%;
    /* padding: 0 15px; */
    margin: 0 auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}


/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}


/* The Modal (background) */

.modal {
    display: none;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 6rem;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    border: 1px solid #888;
    border-radius: .5rem;
    width: 30rem;
    height: auto;
}


/* The Close Button (x) */

.close,
.close-register {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.close-register:hover,
.close-register:focus {
    color: red;
    cursor: pointer;
}

.form__header {
    margin-bottom: 2rem;
    width: 100%;
    height: 3rem;
}

.form__heading {
    font-size: 2.5rem;
    font-weight: 40rem;
    cursor: pointer;
    color: var(--secondary);
    text-align: center;
}

.form .heading,
.form-2 .heading {
    font-size: 2rem;
}

.form-group {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: .6rem;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    height: 4rem;
    padding: .8rem 1.2rem;
    border: 1px solid var(--primary);
    border-radius: .3rem;
    outline: none;
    font-size: 1.4rem;
}

.form-control:hover {
    border-color: var(--secondary);
}

.form-group.invalid .form-control {
    border-color: var(--danger);
}

.form-group.invalid .form-message {
    color: var(--danger);
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: .4rem 0 0;
}

.form-group__policy-text {
    font-size: 1.2rem;
}

.form-group__text-link {
    text-decoration: none;
    color: var(--secondary);
}

.form-submit {
    width: 100%;
    background-color: var(--primary);
    height: 3.5rem;
}

.form-submit a,
.form-submit {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
}

.form-submit:hover {
    background-color: var(--secondary);
    color: var(--white-color);
}

.form__switch-btn {
    font-size: 1.3rem;
    font-weight: 500px;
    color: var(--dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__switch-btn p {
    padding: 1rem;
}

.form__switch-btn .dangky,
.form__switch-btn .dangnhap {
    color: var(--secondary);
    font-size: 1.5rem;
    font-weight: bold;
}


/* --------------  bằng social --------------- */

.form-group__social {
    margin: 1rem 1.5rem;
}

.social-text {
    padding: 0.7rem 0;
    font-size: 1.3rem;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.social-icon {
    height: 3.6rem;
    width: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    color: var(--dark);
    border-radius: 50%;
    border: 1px solid var(--primary);
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.3s;
}

.social-icon:hover {
    color: var(--primary);
    border-color: var(--secondary);
}

@media (min-width:576px) {
    .modal-content {
        width: 36rem;
    }
}

@media (min-width:768px) {
    .form-submit a,
    .form-submit {
        font-size: 2rem;
    }
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}