/* fonts  */

@font-face {
    font-family: "Roboto-regular";
    src: url(../font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-bold";
    src: url(../font/Roboto/Roboto-Bold.ttf);
}


/* colors  */

:root {
    --primary: #166987;
    --secondary: #DBA510;
    --text-color: #333;
    --ternary: #6C6C6C;
    --table-background: #cccccc;
    --danger: #FE4545;
    --dark-color: #101010;
    --white-color: #FAFAFA;
    --gray-color: #F0F1F3;
    --background: #f8f8f8;
    --light: #F0F0F0;
    --heaven: #FFFFFF;
    --black: #000;
    --footer: #2D333F;
}


/* Reset  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto-regular", sans-serif;
    line-height: 3rem;
    background: url("../img/banner1.jpg") no-repeat top center;
}

.container {
    width: 100%;
    margin: 0 auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}

.xacnhandattour {
    margin-top: 7rem;
}

.xacnhandattour h2 {
    text-align: center;
}

.xacnhandattour .confirm {
    margin-top: 2rem;
}

.xacnhandattour h3 {
    font-size: 3rem;
    line-height: 3.6rem;
    text-align: center;
    margin-top: 3rem;
}

.xacnhandattour p {
    text-align: center;
    font-size: 2.6rem;
    line-height: 3.2rem;
}

#customers {
    border-collapse: collapse;
    width: 60%;
    margin: 1rem auto;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: .8rem;
}

#customers tr:nth-child(even) {
    background-color: var(--background);
}

#customers tr:nth-child(odd) {
    background-color: var(--table-background);
}

#customers tr:hover {
    background-color: var(--secondary);
}

#customers th {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-align: left;
    background-color: var(--primary);
    color: var(--white-color);
}