:root {
    --primary-color: #000000;
    --secondary-color: #ff2850;
    --text-color: #171427;
    --bg-color: #fcfcfc;
}

img {
    width: 100%;
    display: block;
}

/* product img */

.product-div {
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
}

.product-div-left {
    padding: 20px;
}

.product-div-right {
    padding: 20px;
}

.img-container img {
    /* width: 400px; */
    height: 515px;
    margin: 0 auto;
}

.hover-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.hover-container div {
    /* border: 2px solid rgba(252, 160, 175, 0.7); */
    /* padding: 1rem; */
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    border-color: rgb(255, 145, 163) !important;
}

.hover-container div:hover {
    border-color: rgb(255, 145, 163);
}

.hover-container div img {
    width: 100px;
    cursor: pointer;
}

.product-div-right span {
    display: block;
}

.product-name {
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}

.product-div-right .actual-price {
    font-weight: 700;
    /* font-size: 34px; */
    opacity: 0.9;
    font-weight: 500;
    margin-left: 0;
}

.product-rating {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.product-rating span {
    margin-right: 6px;
}

.product-description {
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}

@media screen and (max-width: 992px) {
    .product-div {
        grid-template-columns: 100%;
    }

    .product-div-right {
        text-align: center;
    }

    .product-rating {
        justify-content: center;
    }

    .product-description {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px) {
    .btn-groups button {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* product detail */

.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-content .product-price {
    display: block;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span {
    font-weight: 400;
}

.old-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price {
    font-size: 1.8rem;
    font-weight: bold;
}

.product-detail {
    margin-top: 18px;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
    font-size: 1.6rem
}

.product-detail p {
    font-size: 0.9rem;
    padding: 12px 0;
    opacity: 0.8;
}
 
select,
.product-value input {
    height: 35px;
    line-height: 35px;
    padding: 0 6px;
    margin-right: 12px;
    font-size: 1.4rem;
    border-radius: 6px;
}

.purchase-info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.purchase-info p {
    font-size: 1.4rem;
    margin-right: 12px;
}

.quantity {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.quantity p {
    font-size: 1.4rem;
}

.product-value input {
    width: 50px;
    margin-left: 12px;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    background: url() left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span {
    font-weight: 400;
}

.social-links {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.social-links p {
    font-size: 1.4rem;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 10px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: var(--secondary-color);
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-content {
        padding-top: 0;
    }
}





.card__image__background{
    position: relative;
    width: 50%;
    height: 475px;
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1), 
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.background__colors{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.background__color{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;
}

.first{
    z-index: 0;
    animation: 1s width ease;
}

@keyframes width{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.second{
    z-index: -1;
}


.background__color[color ="blue"]{
    background-image: linear-gradient(45deg, #070f24, #045280);
}
.background__color[color ="red"]{
    background-image: linear-gradient(45deg, #490505, #e21f1c);
}
.background__color[color ="green"]{
    background-image: linear-gradient(45deg, #072407, #15cc15);
}
.background__color[color ="orange"]{
    background-image: linear-gradient(45deg, #491101, #865a02);
}
.background__color[color ="black"]{
    background-image: linear-gradient(45deg, #020202, #141212);
}

.nike{
    position: absolute;
    top: 85px;
    left: 15px;
    font-size: 176px;
    text-transform: uppercase;
    line-height: 0.9;
    color: whitesmoke;
    opacity: 0.1;
}

.logo{
    position: absolute;
    width: 100px;
    left: 20px;
    top: 20px;
}

.share__icon{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: whitesmoke;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 21px;
    text-decoration: none;
    color: var(--main);
    transition: 0.3s;
}
.share__icon i{
    line-height: 50px;
}

.share__icon:hover{
    transform: scale(1.2);
}

.shoe{
    position: absolute;
    width: 140%;
    opacity: 0;
    bottom: 0;
    right: 0;
    transform: rotate(-20deg);
}

.shoe.show{
    opacity: 1;
}

.info{
    width: 50%;
    background-color: #ccc;
    z-index: 1;
    padding: 35px 40px;
    box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.nike__info{
    padding: 0 0 10px 0;
}

.nike__info div{
    display: flex;
    align-items: center;
}

.nike__info div .text__large{
    margin-right: 10px;
    font-size: 32px;
    color: #333;
    line-height: 1;
}

.nike__info div .new{
    background-color: var(--main);
    text-transform: uppercase;
    color: whitesmoke;
    padding: 3px 10px;
    border-radius: 5px;
}

.nike__info .text__medium{
    font-weight: 500;
    color: #444;
    margin-top: 3px;
    text-transform: capitalize;
}

.nike__info, .nike__description, .color__container, .sneaker__size{
    border-bottom: 1px solid #bbb5b5;
}

.nike__description{
    padding: 10px 0;
}

.title{
    color: #3a3a3a;
    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
}

.text{
    color: #555;
    font-size: 17px;
}

.color__container{
    padding: 10px 0;
}

.colors{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.color{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 10px;
    border: 5px solid;
    cursor: pointer;
    transition: 0.5s;
}

.color[color="blue"]{
    background-color: #045280;
    border-color: #045280;
}
.color[color="red"]{
    background-color: #e21f1c;
    border-color: #e21f1c;
}
.color[color="green"]{
    background-color: #15cc15;
    border-color: #15cc15;
}
.color[color="orange"]{
    background-color: #865a02;
    border-color: #865a02;
}
.color[color="black"]{
    background-color: #141212;
    border-color: #141212;
}

.color.active{
    border-color: whitesmoke;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.sneaker__size{
    padding: 10px 0;
    margin-bottom: 10px;
}

.sizes{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.size{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #eee;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.size.active{
    background-color: var(--main);
    color: whitesmoke;
}

.shopping__cart{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__btn{
    padding: 11px 16px;
    background-color: var(--main);
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s;
}

.cart__btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.cart__btn i{
    margin-right: 2px;
}

.item__price{
    color: #333;
    display: flex;
    align-items: flex-start;
}

.item__price h1{
    font-size: 34px;
    font-weight: 700;
    line-height: 1.1;
}

.item__price i{
    font-size: 22px;
    margin-right: 1px;
}

/* For Responsiveness */

@media(max-width: 1070px){
    .shoe{
        width: 135%;
    }
}

@media(max-width: 1000px){
    .card__body{
        flex-direction: column;
        width: 100%;
        box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
    }

    .card__body >div{
        width: 100%;    
        box-shadow: none;
    }

    .shoe{
        width: 100%;
        transform: rotate(-5deg) translateY(-50%);
        top: 55%;
        right: 2%;
    }

    .nike{
        top: 20%;
        left:5%
    }
}

@media(max-width: 600px){
    .share__icon{
        width: 40px;
        height: 40px;
    }

    .share__icon i{
        font-size: 16px;
        line-height: 40px;
    }

    .logo{
        width: 70px;
    }
}

@media(max-width: 490px){
    .nike{
        font-size: 112px;
    }
    .nike.info div .text__large{
        font-size: 21px;
    }
    .text__medium{
        font-size: 16px;
    }
    .new{
        padding: 2px 6px;
        font-size: 14px;
    }
    .title{
        font-size: 14px;
    }
    .cart__btn{
        padding: 8px 13px;
        font-size: 13px;
    }
    .item__price h1{
        font-size: 24px;
    }
    .item__price i{
        font-size: 14px;
    }
    .size{
        width: 30px;
        height: 30px;
        margin: 0 8px;
        line-height: 30px;
    }
    .color{
        margin: 0 20px;
        width: 20px;
        height: 20px;
        border-width: 4px;
    }
    .share__icon{
        width: 35px;
        height: 35px;
        top: 10px;
        right: 10px;
    }
    .share__icon i{
        font-size: 13px;
        line-height: 35px;
    }
    .logo{
        width: 60px;
        top: 10px;
        left: 10px;
    }
    .info{
        padding: 20px;
    }
}

@media (max-width: 400px) {
    .cart__btn i{
        display: none;
    }
    .container{
        padding: 20px;
    }
}