.wrapTitle {
    width: 500px;
    background-color: #fdfcfc;
    border-radius: 10px;
    position: absolute;
    top: 90%;
    left: 10%;
}

.imgSlider {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.productPrice {
    display: flex;
}

.oldPrice {
    margin-right: 12px;
}

.title {
    margin-top: 16px;
}

.banner {
    margin-top: 150px;
}

.banner img {
    width: 100%;
    height: 100%;
}