/* colors  */

:root {
    --primary: #166987;
    --secondary: #DBA510;
    --white-color: #FAFAFA;
    --text-color: #333;
    --sub-title: #6C6C6C;
    --background: #f8f8f8;
    --footer: #2D333F;
    --danger: #FE4545;
    --dark-color: #101010;
    --table-background: #d4d4d4;
}


/* Reset  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto-regular", sans-serif;
    background: url("../img/banner.jpg") no-repeat top center;
    background-size: cover;
}

.container {
    width: 100%;
    /* padding: 0 15px; */
    margin: 0 auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}

.wrapper {
    max-width: 100%;
    margin: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

.margin-top {
    margin-top: .8rem;
}

.money {
    opacity: 1;
    cursor: not-allowed;
    pointer-events: none;
}

.thongtindattour h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    line-height: 3rem;
}

label {
    font-size: 2rem;
    line-height: 3rem;
}

table.list {
    width: 100%;
}

tbody {
    border: 1px solid #ddd;
    border-radius: 4px;
}

td,
th {
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: left;
    padding: 2px;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

table.list thead>tr {
    background-color: var(--secondary);
    color: var(--white-color);
}

.formhanhkhach input[type=text],
.formhanhkhach input[type=number],
.formhanhkhach input[type=date] {
    width: 100%;
    padding: 1.2rem 1rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.4rem;
    background: transparent;
}

.formhanhkhach input[type=text]:hover,
.formhanhkhach input[type=number]:hover,
.formhanhkhach input[type=date]:hover {
    border: 1px solid var(--secondary);
}

form div.form-action-button {
    text-align: center;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: var(--primary);
    margin-right: 4px;
}

label.validation-error {
    color: var(--secondary);
    margin-left: 5px;
}

.hide {
    display: none;
}

.list__title {
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 3rem;
}

.thongtinthanhtoan h3 {
    font-size: 1.6rem;
}

.thanhtoantour label {
    line-height: 3rem;
    margin-left: 1rem;
    cursor: pointer;
}

.thanhtoantour input {
    margin-top: 1.5rem;
    cursor: pointer;
}

.thanhtoantour p {
    font-size: 1.6rem;
    line-height: 3rem;
}

.button {
    margin: 2rem;
}

.padding {
    padding: 1.5rem;
}

.dieukhoanthanhtoan {
    background-color: var(--white-color);
}

.form__dieukhoan {
    width: 100%;
    height: 20rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-y: scroll;
    /* Add the ability to scroll */
}

.huytour>li {
    list-style: disc;
    margin-left: 1.5rem;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.example::-webkit-scrollbar {
    display: block;
}


/* Hide scrollbar for IE, Edge and Firefox */

.example {
    -ms-overflow-style: inherit;
    /* IE and Edge */
    scrollbar-width: inherit;
    /* Firefox */
}

.thanhtoan-online .jcb,
.thanhtoan-online .visa {
    width: 3rem;
    height: 3rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.thanhtoan-online .visa {
    margin-left: 1.5rem;
    cursor: pointer;
}

.thanhtoan-online .mastercard {
    width: 5rem;
    height: 5rem;
    margin-left: 1.5rem;
    margin-top: .5rem;
    cursor: pointer;
}

.thanhtoan-online {
    display: flex;
}

.content {
    display: none;
}

.dieukhoanthanhtoan h3,
.thongtinthanhtoan h3 {
    font-size: 2rem;
    line-height: 2.6rem;
}

.dieukien label {
    margin-left: 1rem;
}

#vehicle1,
#thanhtoanonline,
#chuyenkhoan,
#thanhtoantaivp {
    width: 1.6rem;
    height: 1.6rem;
}

.example h4 {
    font-size: 1.8rem;
    line-height: 2.6rem;
}

.example p,
.example li {
    font-size: 1.6rem;
    line-height: 3.6rem;
}


/* -------- thông tin người đặt tour --------- */

.thongtinnguoidattour {
    background: #f8f8f8;
    max-width: 30rem;
    margin: 3rem auto;
    height: auto;
    padding: 3.5rem;
    padding-top: 5rem;
    border-radius: .5rem;
    position: relative;
}

.thongtinnguoidattour h2 {
    font-size: 2.6rem;
    line-height: 3.6rem;
    letter-spacing: .2rem;
    margin-bottom: 4rem;
    color: var(--secondary);
}


/* ------------ thanh toan online ------------- */

.payment {
    background: var(--background);
    max-width: 36rem;
    margin: 3rem auto;
    height: auto;
    padding: 3.5rem;
    padding-top: 5rem;
    border-radius: .5rem;
    position: relative;
}

.payment h2 {
    font-size: 2.2rem;
    letter-spacing: .2rem;
    margin-bottom: 4rem;
    color: var(--secondary);
}

.form .label {
    /* font-size: 1.5rem; */
    display: block;
    color: #555555;
    margin-bottom: .6rem;
}

.input {
    padding: 1.3rem 1.5rem;
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: .5rem;
    letter-spacing: .1rem;
    word-spacing: .3rem;
    outline: none;
    font-size: 1.6rem;
    color: var(--text-color);
}

.card-grp {
    display: flex;
    justify-content: space-between;
}

.card-item {
    width: 48%;
}

.space {
    margin-bottom: 2rem;
}


/* ------------ xac nhan dat tour ------------ */

.xacnhandattour {
    margin-top: 7rem;
}

.xacnhandattour h2 {
    text-align: center;
}

.xacnhandattour .confirm {
    margin-top: 2rem;
}

.xacnhandattour h3 {
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    margin-top: 3rem;
}

.xacnhandattour p {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
}

#customers,
#customers-2 {
    border-collapse: collapse;
    width: 60%;
    margin: 1rem auto;
}

#customers td,
#customers th,
#customers-2 td,
#customers-2 th {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: .8rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

#customers tr:nth-child(even),
#customers-2 tr:nth-child(even) {
    background-color: var(--background);
}

#customers tr:nth-child(odd),
#customers-2 tr:nth-child(odd) {
    background-color: var(--table-background);
}

#customers tr:hover,
#customers-2 tr:hover {
    background-color: var(--secondary);
}

#customers th,
#customers-2 th {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-align: left;
    background-color: var(--primary);
    color: var(--white-color);
    border-radius: 4px;
}

.info__khach,
.thongtinthanhtoan,
.dieukhoanthanhtoan {
    background-color: var(--background);
    padding: 2rem;
    border: 1px solid var(--white-color);
    border-radius: .3rem;
    box-shadow: 0 0 2rem 0 rgba(168, 180, 194, 0.37);
    margin-top: 3rem;
}

@media screen and (max-width: 420px) {
    .card-grp {
        flex-direction: column;
    }

    .card-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .btn {
        margin-top: 20px;
    }
}

@media all and (min-width: 768px) {

    /* css chung */
    label {
        font-size: 1.6rem;
        line-height: 3.6rem;
    }

    /* thong tin dat tour */
    .thongtindattour h3 {
        font-size: 2.4rem;
        line-height: 4rem;
    }

    .list__title {
        font-size: 3rem;
        line-height: 4rem;
    }

    td,
    th {
        font-size: 2rem;
        line-height: 3rem;
        padding: 1rem;
    }

    /* thong tin thanh toan */
    .thongtinthanhtoan button {
        margin: 2rem 0rem;
    }

    .thongtinnguoidattour {
        max-width: 36rem;
    }

    .thongtinnguoidattour h2 {
        font-size: 3rem;
        line-height: 3.8rem;
    }

    .thanhtoantour label {
        line-height: 5rem;
    }

    .thanhtoantour p {
        font-size: 2rem;
        line-height: 3rem;
    }

    /* xac nhan dat tour */
    .xacnhandattour h3 {
        font-size: 3rem;
        line-height: 3.6rem;
        text-align: center;
        margin-top: 3rem;
    }

    .xacnhandattour p {
        text-align: center;
        font-size: 2.6rem;
        line-height: 3.2rem;
    }

    #customers td,
    #customers th,
    #customers-2 td,
    #customers-2 th {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }
}


/* ///////////////////// */