/* -------- Font ----------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*--------- Colores -----------*/

 :root {
    --first-color: #166987;
    --secon-color: #DBA510;
    --dark-color: #2D333F;
    --dark-color-alt: #282B3A;
    --white-color: #fff;
}


/* ----------- Setting ------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
    font-size: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* ------------- Header ------------ */

nav {
    background: #f9f9f9;
    padding: 0.5rem 1.5rem;
}

ul {
    list-style-type: none;
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

a:hover {
    color: var(--secon-color);
}

.logo a {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--first-color);
    font-weight: bold;
}

.menu li {
    font-size: 0rem;
    padding: 1.5rem 0.5rem;
    white-space: nowrap;
}

.menu .item a {
    font-size: 1.5rem;
}


/* ------------ Mobile Menu ------------- */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 3;
}

.item {
    width: 100%;
    text-align: center;
    order: 2;
    display: none;
    text-transform: uppercase;
}

.item.active {
    display: block;
}


/* ----------- Navbar Toggle --------------- */

.toggle {
    cursor: pointer;
}

.bars {
    background: #999;
    display: inline-block;
    height: .2rem;
    position: relative;
    transition: .2s ease-out;
    width: 1.8rem;
}

.bars:before,
.bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.bars:before {
    top: 0.5rem;
}

.bars:after {
    top: -0.5rem;
}


/* ----------- Home ----------- */

.home .cover img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.home {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 2rem 1rem;
}

.home .content {
    display: none;
}

.home .form-container {
    width: 100%;
    padding: 0 3rem;
    margin-top: 7rem;
}

.home .form-container form {
    padding: 1.5rem;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .9);
    border-radius: .5rem;
}

.home .form-container form input[type="submit"] {
    width: 8rem;
    height: 3rem;
    color: var(--white-color);
    background: var(--first-color);
    cursor: pointer;
    font-size: 1.3rem;
    transition: .2s linear;
    display: block;
    margin: auto;
}

.home .form-container form h3 {
    color: var(--dark-color);
    font-size: 1.5rem;
    text-align: center;
}

.home .form-container form input {
    width: 100%;
    padding: 0 1rem;
    margin: 1rem 0;
    height: 4rem;
    font-size: 1.5rem;
    background: var(--white-color);
    border: none;
    outline: none;
    color: var(--dark-color);
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3) inset;
    border-radius: .5rem;
}

.home .form-container form input[type="submit"]:hover {
    border: .2rem solid #166987;
    color: var(--first-color);
    background: none;
}


/* ------------ Product -------------- */

.product .product-tour h2 {
    margin-left: 1.5rem;
    margin-top: 5rem;
    font-size: 2rem;
}

.box {
    width: 30rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    overflow: hidden;
    margin: 1.5rem;
}

.box .slide-img {
    height: 20rem;
}

.box .slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.galery .box .stars {
    margin-top: 1.5rem;
    margin-left: 1rem;
    color: var(--secon-color);
}

.box .name,
.box .time,
.box .day,
.box .price {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.box .name,
.box .price {
    font-size: 1.5rem;
    font-weight: bold;
}

.box .time,
.box .day {
    font-size: 1.3rem;
}

.box .booking {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.book-btn {
    width: 20rem;
    height: 3rem;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 3rem;
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: 700;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 3rem rgba(0, 0, 0, .2);
}

.book-btn:hover {
    color: var(--dark-color);
    background-color: var(--secon-color);
    transition: all ease 0.3s;
}


/* ------------ account -------------- */


/* --------- Arrow ----------- */

.prev-arrow {
    position: absolute;
    top: 25%;
    left: 5%;
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
}

.prev-arrow i {
    color: var(--white-color);
    font-size: 3rem;
}

.next-arrow {
    position: absolute;
    top: 25%;
    right: 5%;
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
}

.next-arrow i {
    color: var(--white-color);
    font-size: 3rem;
}


/* tourvietnam */

.tourvietnam h2 {
    color: var(--white-color);
    font-size: 2rem;
    margin-left: 1.5rem;
    padding-top: 2rem;
    cursor: pointer;
}

.tourvietnam {
    background-color: var(--dark-color);
}

.btn-xemtatca {
    margin-top: 1.5rem;
    padding-bottom: 2rem;
}

.tourvietnam input {
    background-color: var(--secon-color);
    color: var(--dark-color);
    border-radius: 0.5rem;
    width: 10rem;
    height: 3rem;
    display: block;
    margin: auto;
    cursor: pointer;
}

.tourvietnam input:hover {
    background-color: var(--white-color);
    color: var(--dark-color);
}

.tourvietnam-city {
    padding: 1.5rem;
}

.tour {
    width: 100%;
    height: 25rem;
    padding: 0.5rem;
    transition: all 0.5s linear;
}

.tour img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}


/* ------------- form đăng ký nhận ưu đãi ---------------- */

.formuudai {
    background-color: var(--first-color);
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 3rem;
}

.formuudai h3,
.formuudai h5 {
    color: var(--white-color);
    text-align: center;
}

.formuudai h3 {
    padding-top: 1.5rem;
    font-size: 2rem;
}

.formuudai h5 {
    padding-top: 1rem;
    font-size: 1.3rem;
}

.formuudai .form {
    display: block;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.formuudai .form input:first-child {
    width: 20rem;
    height: 3rem;
    border-radius: .5rem;
    padding: 1rem;
}

.formuudai .form input:last-child {
    width: 8rem;
    height: 3rem;
    border-radius: .5rem;
    margin-left: 0.5rem;
    background-color: var(--secon-color);
    color: var(--dark-color);
}

.formuudai .form input:last-child:hover {
    background-color: var(--white-color);
    color: var(--dark-color);
    cursor: pointer;
}


/* -------------- tour nuoc ngoai --------------- */

.product-tour h2 {
    cursor: pointer;
}

.tournuocngoai .box .slide-img img {
    cursor: pointer;
}

.prev-arrow-nuocngoai {
    position: absolute;
    top: 40%;
    left: 5%;
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
}

.prev-arrow-nuocngoai i {
    color: var(--white-color);
    font-size: 3rem;
}

.next-arrow-nuocngoai {
    position: absolute;
    top: 40%;
    right: 5%;
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
}

.next-arrow-nuocngoai i {
    color: var(--white-color);
    font-size: 3rem;
}


/* ----------------- Câu chuyện về những chuyến đi ------------------ */

.chuyendi h2 {
    margin-left: 1.5rem;
    margin-top: 3rem;
    font-size: 2rem;
    cursor: pointer;
}

.chuyendi-baiviet {
    width: 100%;
    height: auto;
}

.chuyendi-baiviet .tour1 {
    width: 100%;
    height: auto;
    padding: 1.5rem;
}

.chuyendi-baiviet .tour1 img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.chuyendi-baiviet h3 {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.chuyendi-baiviet h3:hover {
    color: var(--secon-color);
}

.tour1 .sub-title {
    display: flex;
    margin-bottom: .5rem;
    color: #757575;
}

.tour1 .sub-title i {
    margin-left: 3rem;
    font-size: 1.3rem;
    margin-top: .25rem;
}

.tour1 .sub-title p:last-child {
    margin-left: .5rem;
}

.chuyendi-baiviet .tour1 p {
    font-size: 1.3rem;
}

.chuyendi-baiviet .tour1 p:nth-child(4) {
    cursor: pointer;
}

.chuyendi-baiviet .tour1 h6 {
    font-size: 1.3rem;
    cursor: pointer;
    margin-top: 1.5rem;
}

.chuyendi-baiviet .tour2 {
    display: flex;
}

.chuyendi-baiviet .tour2 img {
    width: 20rem;
    height: auto;
    cursor: pointer;
    padding: 1.5rem;
}

.chuyendi-baiviet .tour2 .tour2-title {
    padding-left: .5rem;
}

.chuyendi-baiviet .tour2 .tour2-title h3 {
    font-size: 1.6rem;
}

.chuyendi-baiviet .tour2 .tour2-title p {
    font-size: 1.3rem;
    color: #757575;
}

.btn-xemtatca {
    margin-top: 1.5rem;
    padding-bottom: 2rem;
}

.chuyendi input {
    background-color: var(--secon-color);
    color: var(--dark-color);
    border-radius: 0.5rem;
    width: 10rem;
    height: 3rem;
    display: block;
    margin: auto;
    cursor: pointer;
}

.chuyendi input:hover {
    background-color: var(--white-color);
    color: var(--dark-color);
}


/* --------------- footer ------------------ */

.footer {
    background-color: var(--dark-color);
    width: 100%;
    height: auto;
}

.footer--top {
    border-bottom: 1px solid #4D4D4D;
}


/* -------- thanh toan ------------- */

.thanhtoan h3 {
    color: var(--white-color);
    font-size: 1.5rem;
    margin-left: 1.5rem;
    padding-top: 2rem;
}

.thanhtoan--online .jcb,
.thanhtoan--online .visa {
    width: 3rem;
    height: 3rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.thanhtoan--online .mastercard {
    width: 5rem;
    height: 5rem;
    margin-left: 1.5rem;
    margin-top: .5rem;
}

.thanhtoan--online {
    display: flex;
}


/* ------------ social ------------- */

.folowus h3 {
    color: var(--white-color);
    font-size: 1.5rem;
    margin-left: 1.5rem;
    padding-top: 1rem;
}

.folowus--social .youtube,
.folowus--social .twitter,
.folowus--social .pinterest {
    width: 3rem;
    height: 3rem;
    margin-left: 1.5rem;
}

.folowus--social .facebook img {
    width: 3rem;
    height: 3rem;
}

.folowus--social {
    display: flex;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}


/* ------------- contact -------------- */

.contact-info {
    color: var(--white-color);
    margin-left: 1.5rem;
    margin-top: 2rem;
}

.contact-info h6 {
    font-size: 1.5rem;
}

.contact-info p {
    font-size: 1.3rem;
    margin-top: .5rem;
}

.copyright {
    color: var(--white-color);
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer--bottom {
    background-color: #000000;
}


/* ------------- Media query -------------- */

@media all and (min-width: 768px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        order: 1;
    }
    .button.secondary {
        border: 0;
    }
    /* ------------ Home ----------- */
    .home .content {
        display: block;
    }
    .home {
        padding: 2rem 3rem;
        min-height: 50vh;
    }
    .home .content h1 {
        font-size: 3rem;
        color: var(--white-color);
        text-shadow: 0 .3rem .5rem #000;
    }
    .home .content p {
        font-size: 2rem;
        color: var(--white-color);
        text-shadow: 0 .3rem .5rem #000;
        margin-top: 1rem;
    }
    .home .form-container {
        width: 100%;
        padding: 0;
    }
    .home .form-container form {
        margin-top: 1rem;
        margin-left: 15rem;
        padding: 2rem;
        width: 30rem;
    }
    .home .form-container form h3 {
        font-size: 2rem;
    }
    .home .form-container form input[type="submit"] {
        width: 12rem;
        height: 3rem;
        font-size: 1.6rem;
    }
    /* ----------- Arrow ------------ */
    .prev-arrow {
        left: 3%;
    }
    .next-arrow {
        right: 3%;
    }
    /* ---------- Tourvietnam ----------- */
    .tourvietnam-city {
        display: grid;
        cursor: pointer;
        grid-template-areas: "img1 img1" "img2 img3" "img4 img4";
        padding: 1.5rem;
        gap: 1.5rem;
    }
    .img1 {
        grid-area: img1;
        height: calc(50rem + 1.5rem);
    }
    /* ---------------- Tour nước ngoài -------------- */
    .prev-arrow-nuocngoai {
        left: 3%;
    }
    .next-arrow-nuocngoai {
        right: 3%;
    }
    /* ------------ Câu chuyện chuyến đi --------------- */
    .chuyendi-baiviet .tour1 {
        width: 60rem;
    }
    .chuyendi-baiviet {
        display: flex;
    }
    /* ----------- footer ---------- */
    .footer--top {
        display: flex;
        /* background-color: #000000; */
        padding-bottom: 1.5rem;
    }
    .folowus h3 {
        padding-top: 2rem;
    }
    .folowus {
        margin-left: 5rem;
    }
    .footer--contact {
        display: flex;
        justify-content: space-between;
    }
    .contact-info:nth-child(3) {
        margin-right: 1.5rem;
    }
    .footer--bottom {
        background-color: #000000;
    }
    .copyright {
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}


/* ---------------- Desktop Menu ----------------- */

@media all and (min-width: 1024px) {
    .item {
        display: block;
        width: auto;
    }
    .item:nth-child(5) {
        margin-right: 5rem;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .logo a,
    .toggle a {
        font-size: 2rem;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 0.5rem 1rem;
    }
    .menu .item.button a {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .button {
        background-color: var(--first-color);
        border-radius: 1rem;
        margin-right: 0.5rem;
        width: 6rem;
        height: 3rem;
    }
    .button.secondary {
        background-color: var(--secon-color);
    }
    .button a {
        color: var(--white-color);
    }
    .button.secondary a {
        color: var(--white-color);
    }
    /* ------------ Home ----------- */
    .home {
        min-height: 80vh;
    }
    .home .form-container form {
        margin-top: 1rem;
        margin-left: 25rem;
        padding: 2rem;
        width: 30rem;
    }
    .home .content h1 {
        font-size: 5rem;
    }
    .prev-arrow {
        left: 2%;
    }
    .next-arrow {
        right: 2%;
    }
    /* ---------- Tourvietnam --------- */
    .tourvietnam {
        margin-top: 5rem;
    }
    .btn-xemtatca {
        margin-top: 0;
    }
    .tourvietnam-city {
        padding: 1.5rem;
        display: grid;
        cursor: pointer;
        grid-template-areas: "img1 img2 img3" "img1 img4 img4";
    }
    /* ---------- form đăng ký nhận ưu đãi ----------- */
    .formuudai {
        margin-top: 5rem;
    }
    .formuudai h3 {
        font-size: 3rem;
    }
    .formuudai h5 {
        font-size: 1.5rem;
    }
    /* ---------------- Tour nước ngoài -------------- */
    .prev-arrow-nuocngoai {
        left: 2%;
    }
    .next-arrow-nuocngoai {
        right: 2%;
    }
}