/* ---------- 1. Setting --------- */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --sencondary--color: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
h1 {
  font-size: 3rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}
.baitap {
  display: none;
}
.pc {
  display: none;
}
.home,
.bai1,
.bai2,
.bai3,
.bai4,
.bai5,
.bai6,
.bai7,
.dom,
.calc {
  width: 90px;
  height: 30px;
  background-color: turquoise;
  margin: 5px;
  text-align: center;
  line-height: 30px;
  font-size: 2rem;
  color: var(--overlay-color);
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.wrapper {
  margin-left: 15px;
  margin-right: 15px;
}
.grid__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer";
}
.header {
  position: relative;
  margin-top: 50px;
}
.header > .logo {
  position: absolute;
  top: -47px;
  left: 65px;
}
.header > .logo > .box {
  width: 100px;
  height: 30px;
  background-color: tomato;
  text-align: center;
  line-height: 30px;
  font-size: 2rem;
  color: #fff;
}
.burger {
  display: block;
  position: absolute;
  top: -50px;
  left: 15px;
  background-color: red;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
}
.menu-item {
  display: block;
}
/* .menu-item > .nav__mobile-close:nth-child(1) {
  background-color: #fff;
} */
.menu-item > .item-list {
  background-color: rgb(70, 70, 252);
  height: 30px;
  line-height: 30px;
  margin: 0 15px 0 15px;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  border-bottom: 1px solid black;
}
.nav-header {
  /* transform: translateX(0); */
  display: none;
  /* transition: transform linear 0.8s; */
}
.nav__mobile-close svg {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -45px;
  left: 235px;
  background-color: red;
}
.svg-inline--fa.fa-w-11 {
  width: 30px;
  cursor: pointer;
  color: #666;
}
.main {
  width: 100%;
  height: 100%;
}
.main > .box {
  width: calc(100% - 30px);
  height: 300px;
  background-color: tomato;
  margin: 15px;
}
.footer {
  grid-area: footer;
  background-color: blue;
  width: calc(100% - 30px);
  height: 60px;
  margin: 0 15px 15px 15px;
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .pc {
    display: block;
  }
  .baitap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .header {
    grid-area: header;
    background-color: blue;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    margin-top: 10px;
  }
  .header > .logo {
    position: relative;
    top: 0px;
    left: 15px;
  }
  #header__top-mobile {
    display: flex;
  }
  .nav-header {
    transform: translateX(0);
  }
  .form {
    display: block;
    margin-left: 200px;
  }
  .burger {
    display: none;
  }
  .nav__mobile-close {
    display: none;
  }
  .menu-item {
    margin-right: 15px;
    display: flex;
  }
  .menu-item > .item-list {
    margin: 15px;
    background-color: #fff;
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 2rem;
    color: var(--primary-color);
  }
  .form > .menu-item > .item-list:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
  }
  .grid__main {
    display: grid;
    grid-template-columns: 70% calc(30% + 15px);
  }
  .main > .box:last-child {
    margin-left: 0;
  }
  /* .main {
    display: flex;
  }
  .main > .box:first-child {
    width: 70%;
  }
  .main > .box:last-child {
    width: 30%;
    margin-left: 0;
  } */
  .footer {
    width: 100%;
    margin: 0 auto;
  }
}
