/* --------- 1. setting --------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins/Poppins-Light.ttf);
}


/* --------- 2. header ---------- */

.header {
    background: linear-gradient(146.88deg, rgba(255, 81, 47, 0.865885) -6.27%, rgba(221, 36, 118, 0.766559) 74.49%);
    max-width: 100%;
    height: 480px;
}

.header .header__top {
    height: 55px;
    line-height: 55px;
    display: flex;
    justify-content: space-between;
}

.header .header__top .header__top-left .logo a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 55px;
    letter-spacing: 0.826794px;
    color: #FFFFFF;
    margin-left: 20px;
}

.header .header__top .header__top-right .burger a {
    margin-right: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 55px;
    letter-spacing: 0.53151px;
    color: #FFFFFF;
    cursor: pointer;
}

.header .header__top .header__top-nav .nav__menu,
.header .header__top .header__top-right .register {
    display: none;
}

.header__info {
    position: absolute;
    top: 25%;
    text-align: center;
    margin: 0 15px;
}

.header__info h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 82px;
    letter-spacing: 0.541353px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}

.header__info h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.767737px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.82;
}

.header .header__info .btn1 {
    position: absolute;
    left: 13%;
    right: 0%;
    top: 110%;
    bottom: 0%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 100px;
    height: 40px;
    background-color: #FFFE00;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.53151px;
    color: #050505;
    cursor: pointer;
}

.header .header__info .btn2 {
    position: absolute;
    left: 55%;
    right: 0%;
    top: 110%;
    bottom: 0%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 100px;
    height: 40px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.53151px;
    color: #050505;
    cursor: pointer;
}

.header .phonemockup img {
    visibility: hidden;
}


/* ----------- main ----------- */

.main .section {}

.main .section .section-info {
    margin: 50px 15px 50px;
    text-align: center;
}

.main .section .section-info h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.324812px;
    color: #000000;
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}

.main .section .section-info p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.53151px;
    color: #969696;
    mix-blend-mode: normal;
    opacity: 0.82;
}


/* ----------- product ------------ */

.product {
    max-width: calc(100% - 30px);
    margin: auto;
    max-height: 100%;
    background-color: #F2F2F2;
}

.product .product1 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.product .product1 h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.324812px;
    color: #000000;
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}

.product .product1 p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.53151px;
    color: #969696;
    mix-blend-mode: normal;
    opacity: 0.82;
    margin: 15px;
}

.galery img {
    max-width: 100%;
    margin: 15px;
}

.prev-arrow {
    position: absolute;
    top: 45%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
    padding: 5px;
}

.prev-arrow i {
    color: red;
    font-size: 20px;
}

.next-arrow {
    position: absolute;
    top: 45%;
    right: 0%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
}

.next-arrow i {
    color: red;
    font-size: 20px;
    padding: 5px;
}


/* ------------ call to action ----------- */

.main .call-to {
    max-width: 100%;
    height: 263px;
    background: linear-gradient(161.6deg, #FE5030 8.2%, #D72D77 88.92%);
    margin: 0 15px;
    position: relative;
}

.main .call-to h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.324812px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
    text-align: center;
    padding-top: 70px;
    margin: 0 15px;
}

.main .call-to .btn1 {
    position: absolute;
    left: 35%;
    right: 0%;
    top: 50%;
    bottom: 0%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 130px;
    height: 40px;
    background-color: #FFFE00;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    margin-top: 20px;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.53151px;
    color: #050505;
    cursor: pointer;
}


/* ---------- footer --------- */

.footer {
    background-color: #FFFFFF;
    text-align: center;
    padding: 15px;
}

.footer .footer__left {
    margin-bottom: 15px;
}

.footer .footer__left a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 42px;
    letter-spacing: 0.826794px;
    color: #000000;
}

.footer .footer__nav {
    margin-bottom: 15px;
}

.footer .footer__nav li {
    margin: 15px;
}

.footer .footer__nav li a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.53151px;
    color: #000000;
}

.footer .footer__right a {
    margin: 10px;
}

.footer .footer__right a i {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
}

@media screen and (min-width: 768px) {
    .header__info {
        position: absolute;
        width: 576px;
        left: 10%;
        top: 38%;
    }
    .header .header__info .btn1 {
        position: absolute;
        left: 28%;
        right: 0%;
    }
    .header .phonemockup img {
        visibility: hidden;
    }
    /* --------- call to action -------- */
    .main .call-to .btn1 {
        position: absolute;
        left: 40%;
        right: 0%;
        top: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        height: 680px;
    }
    .header .header__top .header__top-left .header__top-nav .nav__menu,
    .header .header__top .header__top-right .register {
        visibility: visible;
        display: flex;
    }
    .header .header__top .header__top-left {
        display: flex;
    }
    .header .header__top .header__top-left .header__top-nav {
        margin-left: 80px;
    }
    .header .header__top .header__top-left .header__top-nav .nav__menu li {
        margin-left: 30px;
    }
    .header .header__top .header__top-left .logo a {
        font-size: 28px;
    }
    .header .header__top .header__top-left .header__top-nav .nav__menu li a {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 55px;
        letter-spacing: 0.53151px;
        color: #FFFFFF;
    }
    .header .header__top .header__top-right {
        display: flex;
        margin-right: 20px;
    }
    .header .header__top .header__top-right .register .login {
        margin-right: 20px;
    }
    .header .header__top .header__top-right .burger {
        visibility: hidden;
    }
    .header .header__top .header__top-right .register .login a {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 55px;
        letter-spacing: 0.53151px;
        color: #FFFFFF;
    }
    .header .header__top .header__top-right .register .signup a {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 55px;
        letter-spacing: 0.472454px;
        color: #000000;
        background-color: #FFFE00;
        padding: 6px 10px;
        border-radius: 5px;
    }
    .header__info {
        position: absolute;
        width: 750px;
        height: 264px;
        left: 80px;
        top: 200px;
        text-align: start;
    }
    .header__info h1 {
        font-size: 60px;
        line-height: 82px;
    }
    .header__info h2 {
        font-size: 26px;
        line-height: 30px;
    }
    .header .header__info .btn1 {
        position: absolute;
        left: 0%;
        right: 78.48%;
        top: 70%;
    }
    .header .header__info .btn2 {
        position: absolute;
        left: 18%;
        right: 0%;
        top: 70%;
    }
    .header .phonemockup img {
        visibility: visible;
        position: absolute;
        width: 300px;
        height: 646px;
        left: 704px;
        top: 158.27px;
        background: url(Image.png);
        filter: drop-shadow(0px 30px 50px rgba(0, 0, 0, 0.14));
        transform: rotate(0deg);
    }
    /* -------- main ------------ */
    .main .section .section-info h2 {
        font-size: 36px;
        line-height: 82px;
    }
    .main .section .section-info p {
        font-size: 18px;
        line-height: 33px;
    }
    .main .section .section-info {
        margin: 100px 50px;
    }
    /* ----------- product ------------- */
    .product .product1 h2 {
        font-size: 36px;
        line-height: 82px;
    }
    .product .product1 p {
        font-size: 18px;
        line-height: 33px;
    }
    /* ---------- call to action ----------- */
    .main .call-to h2 {
        position: absolute;
        top: 7%;
        left: 6%;
        text-align: start;
        font-size: 25px;
        line-height: 52px;
        width: 565px;
    }
    .main .call-to .btn1 {
        position: absolute;
        top: 40%;
        left: 76%;
        width: 150px;
        height: 50px;
    }
    /* --------- footer --------- */
    .footer {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
        height: 197px;
        align-items: center;
    }
    .footer .footer__nav {
        display: flex;
        margin-bottom: 0;
    }
    .footer .footer__left {
        margin-bottom: 0;
    }
    .footer .footer__left a {
        font-weight: 800;
        font-size: 28px;
        line-height: 42px;
    }
    .footer .footer__nav li a {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }
    .footer .footer__right a i {
        font-size: 20px;
        line-height: 23px;
    }
}

@media screen and (min-width: 1200px) {
    .header__info {
        position: absolute;
        width: 976px;
        height: 264px;
        left: 120px;
        top: 250px;
        text-align: start;
    }
    .header .phonemockup img {
        position: absolute;
        width: 300px;
        height: 646px;
        left: 932px;
        top: 200px;
    }
    .header .header__info .btn1 {
        position: absolute;
        left: 0%;
        right: 78.48%;
        top: 60%;
    }
    .header .header__info .btn2 {
        position: absolute;
        left: 13%;
        right: 0%;
        top: 60%;
    }
    /* --------- main ---------- */
    .main .section .section-info {
        margin: 100px 150px;
    }
    .main .call-to h2 {
        position: absolute;
        top: 7%;
        left: 6%;
        text-align: start;
        font-size: 36px;
        line-height: 52px;
        width: 785px;
    }
    .main .call-to .btn1 {
        left: 80%;
    }
}