<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/dom.css" />
  </head>
  <body>
    <h1>Dinh Trong Khang</h1>
    <div class="baitap">
      <div class="home"><a href="index.html">Home</a></div>
      <div class="bai1"><a href="bai1.html">Bài 1</a></div>
      <div class="bai2"><a href="bai2.html">Bài 2</a></div>
      <div class="bai3"><a href="bai3.html">Bài 3</a></div>
      <div class="bai4"><a href="">Bài 4</a></div>
      <div class="bai5"><a href="">Bài 5</a></div>
      <div class="bai6"><a href="">Bài 6</a></div>
      <div class="bai7"><a href="">Bài 7</a></div>
      <div class="dom"><a href="dom.html">Dom</a></div>
      <div class="calc"><a href="calculator.html">calc</a></div>
    </div>
    <div class="wrapper">
      <div class="header"></div>
      <div class="main">
        <h1 class="name" id="name">DOM</h1>
        <h4>Cổ phiếu chứng khoán nổi sóng</h4>
        <p class="text" id="text1">VN-Index chốt phiên trong sắc đỏ nhưng nhiều cổ phiếu chứng khoán đứng ở mức giá trần khi dòng tiền tập trung vào ngành này.</p>
        <p class="text" id="text2"> Đồ thị VN-Index sáng nay (8/12) không còn là những đường đi ngang trên tham chiếu như những phiên trước. Thị trường đảo chiều liên tục từ khi mở cửa với bên mua và bán luân phiên giữ thế chủ động. Đến trước giờ nghỉ trưa, VN-Index lùi về gần ngưỡng 1.025 điểm, giảm hơn 4 điểm so với tham chiếu.</p>
        <p class="text" id="text3">Sang phiên chiều, biên độ dao động có phần hẹp hơn nhưng xu hướng vẫn không thay đổi. Những đường gấp khúc với độ dốc cao trên đồ thị của VN-Index, cùng sắc xanh - đỏ đan xen cho thấy trạng thái giằng co của chỉ số. Chốt phiên, VN-Index và VN30-Index đều ở gần tham chiếu nhưng trạng thái khác nhau khi VN-Index giảm điểm nhưng VN30-Index vẫn giữ sắc xanh.</p>
        <p class="text" id="text4">Lorem ipsum dolor sit amet consectetur adipisicing elit. A nesciunt facere nam, exercitationem inventore quis recusandae! Nostrum, neque magni animi, doloribus a architecto delectus magnam labore aliquid, quisquam in illum!</p>
      </div>
      <div class="footer"></div>
    </div>
    <script src="assets/js/script.js"></script>
    
  </body>
</html>
