/* fonts  */

@font-face {
    font-family: "Roboto-regular";
    src: url(../font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-bold";
    src: url(../font/Roboto/Roboto-Bold.ttf);
}


/* colors  */

:root {
    --primary: #166987;
    --secondary: #DBA510;
    --text-color: #333;
    --ternary: #6C6C6C;
    --danger: #FE4545;
    --dark-color: #101010;
    --white-color: #FAFAFA;
    --gray-color: #F0F1F3;
    --background: #ececec;
    --light: #F0F0F0;
    --heaven: #FFFFFF;
    --black: #000;
    --footer: #2D333F;
}


/* Reset  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto-regular", sans-serif;
    line-height: 2.2rem;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}

.wrapper {
    max-width: 100%;
    margin: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* ------ header ------ */

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--gray-color);
}


/* --------- nav ------------ */

.nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 5rem;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--white-color);
        transition: .5s;
        z-index: 1000;
    }
}

.nav__link {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.nav__link:hover {
    color: var(--secondary);
}

.nav__logo a {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary);
}

.nav {
    display: flex;
}

.nav__user a {
    color: var(--secondary);
    font-size: 2rem;
    /* margin-right: 2rem; */
}

.nav__user {
    order: 3;
}

.nav__toggle {
    font-size: 2rem;
    cursor: pointer;
    order: 1;
}

.nav__logo {
    order: 2;
}


/* ----------- show menu ----------- */

.show {
    right: 0;
}

.active {
    color: var(--secondary);
}


/* footer ap thanh toan */

.footer {
    background-color: var(--footer);
    margin-top: 5rem;
}

.footer__top-thanhtoan h3,
.footer__top-folowus h3 {
    color: var(--light);
    font-size: 1.5rem;
    padding-top: 2rem;
}

.footer__top-thanhtoan-online .jcb,
.footer__top-thanhtoan-online .visa,
.footer__top-folowus-social .youtube,
.footer__top-folowus-social .twitter,
.footer__top-folowus-social .pinterest,
.footer__top-folowus-social .facebook {
    width: 3rem;
    height: 3rem;
    margin-top: 1.5rem;
}

.footer__top-thanhtoan-online .visa,
.footer__top-folowus-social .youtube,
.footer__top-folowus-social .twitter,
.footer__top-folowus-social .pinterest {
    margin-left: 1.5rem;
}

.footer__top-thanhtoan-online .mastercard {
    width: 5rem;
    height: 5rem;
    margin-left: 1.5rem;
    margin-top: .5rem;
}

.footer__top-thanhtoan-online {
    display: flex;
}


/*  footer social */

.footer__top-folowus-social .facebook img {
    width: 3rem;
    height: 3rem;
}

.footer__top-folowus-social {
    display: flex;
}


/* footer contact */

.footer__contact-info {
    color: var(--light);
    margin-top: 2rem;
}

.footer__contact-info h6 {
    font-size: 1.5rem;
}

.footer__contact-info p {
    font-size: 1.3rem;
    margin-top: .5rem;
}


/* footer bottom */

.footer__bottom-copyright {
    color: var(--light);
    font-size: 1.3rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer__bottom {
    background-color: #000000;
}


/* ------------- Media query -------------- */

@media all and (min-width: 768px) {}


/* ---------------- Desktop Menu ----------------- */

@media all and (min-width: 1024px) {
    /* --------------- Header ---------------- */
    .nav {
        display: flex;
    }
    .nav__logo {
        order: 1;
    }
    .nav__menu {
        order: 2;
    }
    .nav__user {
        order: 3;
    }
    .nav__logo a {
        font-size: 2.5rem;
    }
    .nav__list {
        display: flex;
    }
    .nav__item {
        padding: 0 2rem;
    }
    .nav__toggle {
        display: none;
    }
    .nav__user {
        margin-right: 0rem;
    }
    /* ------------ footer ----------- */
    .footer__top {
        display: flex;
    }
    .footer__top-folowus {
        margin-left: 5rem;
    }
    .footer__contact {
        display: flex;
        justify-content: space-between;
    }
    .footer__top-thanhtoan h3,
    .footer__top-folowus h3 {
        font-size: 2rem;
    }
    .footer__contact-info h6 {
        font-size: 2rem;
    }
    .footer__contact-info p {
        font-size: 1.6rem;
    }
}