* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */

.grid-header {
    display: grid;
    grid-template-columns: auto;
    background-color: gray;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
}


/* banner */

.grid-banner {
    display: grid;
    grid-template-columns: auto;
    background-color: rgb(70, 57, 243);
    width: 100%;
    height: 300px;
    margin-bottom: 5px;
}


/* product */

.grid-product {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    background-color: tomato;
    width: 100%;
    margin: auto;
    padding: 30px;
    margin-bottom: 5px;
}

.grid-product>.box {
    background-color: rgba(228, 235, 229, 0.8);
    text-align: center;
    width: 100%;
    height: 100px;
}


/* content */

.grid-content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    background-color: #2196F3;
    width: 60%;
    margin: auto;
    padding: 30px;
    margin-bottom: 5px;
}

.grid-content>.box {
    background-color: rgba(164, 248, 237, 0.8);
    text-align: center;
    width: 100%;
    height: 100px;
}


/* new */

.grid-new {
    display: grid;
    grid-template-columns: 66% 33%;
    grid-gap: 30px;
    background-color: #73e247;
    width: 100%;
    margin: auto;
    padding: 15px;
}

.grid-new>.new-left {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    width: 100%;
    height: 200px;
}

.grid-new>.new-left>.box {
    background-color: rgba(247, 118, 33, 0.8);
    text-align: center;
    width: 100%;
    height: 100px;
}

.grid-new>.new-right>.box {
    background-color: rgba(247, 118, 33, 0.8);
    text-align: center;
    width: calc(100% - 15px);
    height: 500px;
}


/* footer */

.grid-footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: tomato;
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 5px;
}

.grid-footer>.box {
    background-color: rgba(228, 235, 229, 0.8);
    text-align: center;
    width: 100%;
    height: 100px;
}


/* responsive */


/*Ipad ngang(1024 x 768)*/


/* product */

@media screen and (max-width: 1024px) {
    /* product */
    .grid-product {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        background-color: #2196F3;
        width: 60%;
        margin: auto;
        padding: 15px;
    }
    .grid-product>.box {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        width: 100%;
        height: 100px;
    }
    /* content */
    .grid-content {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        background-color: #2196F3;
        width: 60%;
        margin: auto;
        padding: 15px;
    }
    .grid-content>.box {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        width: 100%;
        height: 100px;
    }
    /* new */
    .grid-new {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 30px;
        background-color: #73e247;
        width: 100%;
        margin: auto;
        padding: 15px;
    }
    .grid-new>.new-left {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 15px;
        width: 100%;
        height: 200px;
    }
    .grid-new>.new-left>.box {
        background-color: rgba(247, 118, 33, 0.8);
        text-align: center;
        width: 100%;
        height: 100px;
    }
    .grid-new>.new-right>.box {
        background-color: rgba(247, 118, 33, 0.8);
        text-align: center;
        width: 100%;
        height: 100px;
    }
    /* footer */
    .grid-footer {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        background-color: tomato;
        width: 100%;
        margin: auto;
        padding: 10px;
        margin-top: 5px;
    }
    .grid-footer>.box {
        background-color: rgba(228, 235, 229, 0.8);
        text-align: center;
        width: 100%;
        height: 100px;
    }
}


/*Ipad dọc(768 x 1024)*/


/* content */

@media screen and (max-width: 768px) {
    /* product */
    .grid-product {
        display: grid;
        grid-template-columns: auto;
        background-color: #2196F3;
        width: 100%;
        margin: auto;
    }
    .grid-product>.box {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        width: 100%;
        height: 100px;
        line-height: 100px;
    }
    .grid-content {
        display: grid;
        grid-template-columns: auto;
        background-color: #2196F3;
        width: 100%;
        margin: auto;
    }
    .grid-content>.box {
        background-color: rgba(238, 240, 114, 0.8);
        text-align: center;
        width: 100%;
        height: 100px;
        line-height: 100px;
    }
    /* new */
    .grid-new {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 30px;
        background-color: #73e247;
        width: 100%;
        margin: auto;
        padding: 15px;
    }
    .grid-new>.new-left {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 15px;
        width: 100%;
        height: 100%;
    }
    .grid-new>.new-left>.box {
        background-color: rgba(247, 118, 33, 0.8);
        text-align: center;
        width: 100%;
        height: 100px;
    }
    .grid-new>.new-right>.box {
        background-color: rgba(247, 118, 33, 0.8);
        text-align: center;
        width: 100%;
        height: 100px;
    }
}


/*Tablet nhỏ(480 x 640)*/

@media screen and (max-width: 480px) {}


/*Iphone(480 x 640)*/

@media screen and (max-width: 320px) {}


/*Smart phone nhỏ*/

@media screen and (max-width: 240px) {}