/* ----------- 1. Setting ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.wrapper {
    background-color: tomato;
    width: 1200px;
    margin: auto;
}


/* For desktop: */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* --------- 2. Header ------------ */

.header {
    background-color: gray;
    height: 60px;
}

.header>a {
    font-size: 20px;
    color: rgb(48, 218, 14);
    text-transform: uppercase;
    text-decoration: none;
}

.header__menu .menu-list {
    list-style: none;
    margin-left: 15px;
}

.header__menu .menu-list .list__item {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.banner img {
    width: 1200px;
}


/* --------- 3. Product ----------- */

.product {
    background-color: rgb(87, 244, 250);
}

.content {
    background-color: rgb(141, 247, 120);
    margin: auto;
}

.product1>.box,
.content1>.box {
    max-width: calc(100% - 30px);
    height: 150px;
    background-color: blue;
    color: #fff;
    text-align: center;
}

.new {
    background-color: hotpink;
}

.new2 {
    background-color: lawngreen;
    height: 100px;
}

.new1>.box {
    background-color: lawngreen;
    margin: 15px;
    height: 100px;
    width: calc(100%-30px);
}

.new2>.box {
    margin: 0 35px;
}


/* --------- footer ----------- */

.footer {
    background-color: gray;
    height: 100%;
}

.footer1 a {
    color: #fff;
    text-decoration: none;
}

.footer .footer1 {
    width: calc(100% - 20px);
    background-color: green;
    margin: 10px;
    text-align: center;
}


/*Ipad ngang(1024 x 768)*/

@media screen and (max-width: 1024px) {}


/*Ipad dọc(768 x 1024)*/

@media screen and (min-width: 768px) {
    /* banner */
    .banner img {
        max-width: 100%;
        text-align: center;
    }
    /* product */
    .product {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
    }
    .product1 {
        display: flex;
        width: 100%;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        width: calc(60% + 30px);
    }
    .content1 {
        display: flex;
        width: 100%;
    }
    .product1>.box {
        width: 33.33%; //calc(100% - 90px / 3)
        margin: 15px;
    }
    .content1>.box {
        width: calc(100% - 90px / 3);
        margin: 15px;
    }
    /* new */
    .new {
        display: flex;
        width: 100%;
    }
    .new-left {
        display: flex;
        margin-right: 15px;
        width: 66.66%;
    }
    .new-right {
        margin-left: 15px;
        width: calc(33.33% - 30px);
    }
    .new-left>.new1>.box {
        width: 390px;
        margin-right: 0;
    }
    .new-left>.new1>.box,
    .new-right>.new1>.box {
        background-color: blue;
    }
    .new-right>.new1>.box {
        height: 500px;
    }
    /* footer */
    .footer {
        display: flex;
        text-align: center;
        align-items: center;
        height: 100px;
    }
    .footer .footer1 {
        width: 25%;
        background-color: green;
        margin: 10px;
        display: block;
    }
}


/*Tablet nhỏ(480 x 640)*/

@media screen and (max-width: 480px) {
    /* new */
    .new {
        display: block;
    }
    .new-left {
        width: 100%;
        display: flex;
    }
    .new-left>.new1 {
        width: 100%;
    }
    .new-right {
        width: 100%;
    }
}


/*Iphone(480 x 640)*/

@media screen and (max-width: 320px) {}


/*Smart phone nhỏ*/

@media screen and (max-width: 240px) {}