.footerTop {
    background-color: #000;
    color: #fff;
    margin-top: 54px;
}

.footerTitle {
    border-bottom: 1px solid #fff;
    padding-bottom: 12px;
}

.footerTop a {
    color: #fff;
}

.footerTop a:hover {
    color: #ff2850;
}

.copyRight {
    background-color: #333;
    color: #fff;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.iconsFolow {
    font-size: 30px;
    margin: 12px;
}