/* ---------- 1. Setting --------- */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --sencondary--color: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
h1 {
  font-size: 3rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}
.baitap {
  display: flex;
  justify-content: center;
}
.home,
.bai1,
.bai2,
.bai3,
.bai4,
.bai5,
.bai6,
.bai7,
.dom,
.calc {
  width: 90px;
  height: 30px;
  background-color: turquoise;
  margin: 5px;
  text-align: center;
  line-height: 30px;
  font-size: 2rem;
  color: var(--overlay-color);
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
/* for mobile */
.baitap {
  display: none;
}
.pc {
  display: none;
}
.grid__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer";
}
.header {
  grid-area: header;
  background-color: blue;
  margin: 0 15px 0 15px;
  width: calc(100% - 30px);
  height: 60px;
}
.main {
  width: 100%;
  height: 100%;
}
.main .box {
  width: calc(100% - 30px);
  height: 50px;
  background-color: tomato;
  margin: 30px 15px 30px 15px;
}
.footer {
  grid-area: footer;
  background-color: blue;
  margin: 0 15px 0 15px;
  width: calc(100% - 30px);
  height: 60px;
}
@media screen and (min-width: 768px) {
  .baitap {
    display: flex;
  }
  .pc {
    display: block;
  }
  .mobile {
    display: none;
  }
  .header {
    width: calc(100% - 60px);
    margin: 0 30px 0 30px;
    background-color: blue;
  }
  .footer {
    width: calc(100% - 60px);
    margin: 0 30px 0 30px;
    background-color: blue;
  }
  .main {
    width: 100%;
    padding: 15px;
  }
  .grid__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .main .box {
    margin: 15px;
  }
}
