/* ---------- 1. Setting --------- */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --sencondary--color: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
h1 {
  font-size: 3rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}
.baitap {
  display: none;
}
.pc {
  display: none;
}
.home,
.bai1,
.bai2,
.bai3,
.bai4,
.bai5,
.bai6,
.bai7,
.dom,
.calc {
  width: 90px;
  height: 30px;
  background-color: turquoise;
  margin: 5px;
  text-align: center;
  line-height: 30px;
  font-size: 2rem;
  color: var(--overlay-color);
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.wrapper {
  margin-left: 15px;
  margin-right: 15px;
}
.grid__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer";
}
.header {
  grid-area: header;
  background-color: blue;
  width: 100%;
  height: 60px;
}
.main {
  margin-top: 15px;
  margin-bottom: 15px;
}
.grid__main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "main__left" "main__right";
}
.main__left {
  grid-area: main__left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.main__right {
  grid-area: main__right;
  margin-top: 30px;
}
.main .box {
  width: 100%;
  height: 100px;
  background-color: tomato;
}
.footer {
  grid-area: footer;
  background-color: blue;
  width: 100%;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .pc {
    display: block;
  }
  .baitap {
    display: flex;
    justify-content: center;
  }
  .grid__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "main__left main__right";
    grid-gap: 30px;
  }
  .main__right {
    margin-top: 0;
  }
  .main {
    margin-top: 0;
  }
}
